<div class="row">
  <div class="col-md-6">
    <h2>Requests</h2>
  </div>
  
  <div class="col-md-4">
    <h2>Request something</h2>
  </div>
</div>

<div id="requests" class="row">
  <div class="col-md-6">
    <%= render partial: "requests/list_requests", locals: { request: @request } %>
  </div>
  <div id="new_request_form" class="col-md-4">
    <%= render partial: "requests/form", locals: { request: @request } %>
  </div>
</div>

<div id="issues" class="row">
  <div class="col-md-6">
    <h2>Issues</h2>
    <ul>
      <li>not implemented</li>
    </ul>
  </div>
</div>
