<div id="requests" class="row">
  <div class="col-md-6">
    <h2>Requests</h2>
    <%= render partial: "requests/list_requests" %>
  </div>
  <div id="new_request_form" class="col-md-4">
    <h2>Request something</h2>
    <%= render partial: "requests/form", locals: { request: @request } %>
  </div>
</div>

<div id="issues" class="row">
  <div class="col-md-6">
    <h2>Issues</h2>
    <%= render partial: "issues/list" %>
  </div>
  <div id="new_issue_form" class="col-md-4">
    <h2>Complain here</h2>
    <%= render partial: "issues/form", locals: { issue: @issue } %>
  </div>
</div>
