<div id="<%= dom_id issue %>">
  <p>
    <strong>Title:</strong>
    <%= issue.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= issue.notes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

</div>
