<h1>Editing <%= @issue.title %></h1>

<%= render "form_admin", issue: @issue %>

<br>

<div>
  <%= link_to "Back to dashboard", root_url %> |
  <%= link_to "Delete", @issue, data: { turbo_method: :delete } %>
</div>
