<div id="requests" class="row">
  <div class="card-body">
    <% @issues.each do |issue| %>
      <%= render issue %>
    <% end %>
  </div>
  <div class="card-body">
    <%= link_to "↩ Back to dashboard", dashboard_url, class: "text-primary" %>
  </div>
</div>
