<%= form_with(model: [ @request, @request.comments.build ], local: true) do |form| %>
    <div class="field form-group">
    <%= form.text_area :content, class: "form-control", rows: 2, required: true %>
  </div>

  <div class="actions form-group">
    <%= form.submit("Leave a comment", class: "btn btn-outline-primary w-50") %>
    <%= form.submit("Leave a comment and reopen this request", class: "btn btn-outline-primary w-50", name: "reopen_request") %>
  </div>
<% end %>
