<div id="<%= dom_id request %>">
  <p>
    <strong>Title:</strong>
    <%= request.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= request.notes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

</div>
