/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    background-color: #f0f1ff !important;
    color: #333 !important;
}

body {
  padding: 0 20px;
  background-color: #f0f1ff !important;
}

#nav {
  list-style-type: none;
  margin: 0;
  float: right;
}

#nav li {
  display: inline;
  margin: 5px;
}

#actions ul {
  list-style-type: none;
}

p.notice, p.alert {
  padding: 0; margin: 0;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.pending, .reported {
  color: orange;
}

.filled, .wontfix, .resolved {
  color: green;
}

span.title {
  font-weight: bold;
}

form {
  background-color: rgb(209, 209, 209);
  padding: 20px;
}
