$body-bg: #f0f0f0;
$body-color: #494949;
$primary: #534277;
$link-shade-percentage: 30%;
$link-decoration: none;
$link-hover-decoration: underline;

@import "bootstrap";

nav.navbar {
  background-color: $primary !important;
  color: $body-color !important;
  padding: 0rem 2.5rem;
}

nav a.navbar-brand {
  font-size: 1rem;
}

#actions ul {
  list-style-type: none;
}

p.notice,
p.alert {
  padding: 0;
  margin: 0;
}

.notice {
  color: $green-600;
}

.alert {
  color: $red-600;
}

.pending,
.reported {
  color: $orange-600;
}

.filled,
.resolved {
  color: $green-600;
}

.wontfix,
.wontfill {
  color: $red-600;
}

span.title {
  font-weight: bold;
}

form {
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.row {
  margin: 1rem 2rem;
  padding-left: 0;
  padding-right: 0;
}

ul .row {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

.card {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.card-body {
  padding-left: 1.5rem;
}

.list-group-item {
  border-radius: 0;
}

img.inline {
  margin-top: -1rem;
  position: relative;
  top: 5px;
}
