$body-bg: #f0f0f0;
$body-color: #494949;

@import "bootstrap";

nav.navbar {
  background-color: #684e98 !important;
  padding: .5rem 2.5rem;
}

nav a.navbar-brand {
  font-size: 1rem;
}

#actions ul {
  list-style-type: none;
}

p.notice,
p.alert {
  padding: 0;
  margin: 0;
}

.notice {
  color: $green-600;
}

.alert {
  color: $red-600;
}

.pending,
.reported {
  color: $orange-600;
}

.filled,
.resolved {
  color: $green-600;
}

.wontfix {
  color: $red-600;
}

span.title {
  font-weight: bold;
}

form {
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

#requests,
#issues,
#messages {
  margin: 1rem 2rem;
  padding-left: 0;
  padding-right: 0;
}

.card {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.card-body {
  padding-left: 1.5rem;
}

.list-group-item {
  border-radius: 0;
}
